.container{
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lead{
    margin: 30px;
    font-weight: bold;
}
.nel{
    all:initial;
    margin-left: 50px;
}
.no-flex{
    all:initial;
    width: 70%;
    color: red;
}
.list-ws{
    list-style-type:none
}
.wi{
    margin: 10px;
}